::ng-deep body {
    scrollbar-gutter: stable;
}

.login {
    position: relative;
    overflow: hidden;
    background-color: var(--bs-body-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    &.no-images::before {
        content: "";
        background-image: var(--login-background-url);
        background-size: var(--login-background-size);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: var(--login-background-opacity);
        z-index: 0;
        width: 100%;
    }

    &.no-cover-images {
        background-color: var(--login-background-color);
        
        &::before {
            opacity: var(--login-background-opacity);
        }
    }

    .logo-container {
        position: relative;
        z-index: 1;
    }

    .login-container {
        position: relative;
        z-index: 1;
    }

    h2 {
        font-family: "Spartan", sans-serif;
        font-size: 1.5rem;
        margin-bottom: 0;
        font-weight: bold;
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
    }

    .logo-container {
        width: 100%;
        .logo {
            width: var(--login-logo-width);
            height: var(--login-logo-height);
            background-image: var(--login-logo-image);
            background-size: var(--login-logo-bg-size);
            background-repeat: var(--login-logo-bg-repeat);
            display: inline-block;
            vertical-align: middle;
        }
    }

    .login-container {
        width: 100%;
    }

    .card {
        background-color: var(--login-card-bg-color);
        color: #fff;
        max-width: 300px;
        border-width: var(--login-card-border-width);
        border-style: var(--login-card-border-style);
        border-color: var(--login-card-border-color);
        position: relative;
        z-index: 1;

        &:focus {
            border: 2px solid white;

        }


        ::ng-deep.card-title {
            h2 {
                font-family: 'Poppins', sans-serif;
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                font-size: 1rem;
            }
        }

        .card-text {
            font-family: "EBGaramond", "Helvetica Neue", sans-serif;
        }
    }
}
